!*faceName: Terminus
!*faceSize: 10
!*font: xft:Envypn:13

XTerm*saveLines: 10000

urxvt.font: xft:Sauce Code Powerline:size=9:antialias=false
urxvt.depth: 32
urxvt.scrollBar: false
urxvt.secondaryScreen: 1
urxvt.secondaryScroll: 0
urxvt.letterSpace: -2

urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/firefox
urxvt.match.button: 1

*cursorBlink: true
*cursorColor: #222222

urxvt.transparent: false
urxvt.blurRadius: 5

! special
*.foreground:   #000000
*.background:   #f3d7a8
*.cursorColor:  #000000

! black
*.color0:       #fdf2e5
*.color8:       #838383

! red
*.color1:       #ff5959
*.color9:       #b52a48

! green
*.color2:       #91c55d
*.color10:      #5e9c4a

! yellow
*.color3:       #eaa835
*.color11:      #bfb96a

! blue
*.color4:       #1aadc3
*.color12:      #408cf3

! magenta
*.color5:       #f55cf8
*.color13:      #563680

! cyan
*.color6:       #419651
*.color14:      #216775

! white
*.color7:       #1c1818
*.color15:      #070302

!! vim: set ft=xdefaults:
