xterm*locale: true
xterm*termName: xterm-256color
xterm*saveLines: 4096
xterm*reverseVideo: off
xterm*faceName: envypn:size=13:antialias=false
xterm*borderWidth: 1
xterm*cursorColor: #ffffff

*background: #000000
*foreground: #ffffff
*color0: #6b3e15
*color1: #7f3301
*color2: #90491f
*color3: #7c5333
*color4: #a2623e
*color5: #48321d
*color6: #bb5e25
*color7: #d66b33
*color8: #fb5722
*color9: #d24e04
*color10: #a83e00
*color11: #574d2a
*color12: #fc6f05
*color13: #e16412
*color14: #fd891c
*color15: #fcb026
