!*faceName: Terminus
!*faceSize: 10
!*font: xft:Envypn:13

XTerm*saveLines: 10000

urxvt.font: xft:Sauce Code Powerline:size=9:antialias=false
urxvt.depth: 32
urxvt.scrollBar: false
urxvt.secondaryScreen: 1
urxvt.secondaryScroll: 0
urxvt.letterSpace: -2

urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/chromium
urxvt.match.button: 1

*cursorBlink: true
*foreground: #fbffd1
*cursorColor: #fbffd1
*background: #222222

urxvt.background: #222222
urxvt.transparent: true
urxvt.shading: 30
urxvt.blurRadius: 5
urxvt.fading: 20

! black
*color0: #000000
*color8: #393939
! red
*color1: #f55200
*color9: #ca2700
! green
*color2: #22d644
*color10: #22ac26
! yellow
*color3: #fffc42
*color11: #e5e32a
! blue
*color4: #80b5ff
*color12: #6D9EAC
! magenta
*color5: #ff8aeb
*color13: #d53acd
! cyan
*color6: #80fdff
*color14: #6af6b5
! white
*color7: #d9d9d9
*color15: #ffffff
! underline when default
*colorUL: #be765d
! vim: set ft=xdefaults:

